// COLORS
$main-blue: #0282f9;
$secondary-blue: #00a9d9;
$main-gray: #1c1c1c;
$secondary-gray: #303030;
$main-l-gray: #5e5e5e;
$secondary-l-gray: #dfdfdf;
$main-green: #55ba59;
$secondary-green: #b4fd9c;

// BG
$bg-lighter-gray: #f6f6f6;