@import 'vars';

// MAIN HOME
.comics-show {

   .comic-desc{
      position: relative;
      padding-top: 75px;
   }

   .blue-bar {
      height: 90px;
      background-color: $main-blue;
   }

   .pricing {
      background-color: $main-green;
      display: flex;

      font-weight: 600;

      p {
         margin: 0;
      }
      p span, .availability {
         color: #fff;
      }
      .pricing-details, .availability {
         padding: 15px 20px;
      }
      .pricing-details {
         display: flex;
         flex-grow: 1;
         justify-content: space-between;
         > * {
            color: $secondary-green;
         }
      }
      .availability {
         border-left: 1px solid black;
      }
   }

   .dc-button {
      background-color: $main-blue;

      color: #fff;
      text-align: center;
      font-weight: bold;

      padding: 10px 0;
      margin-top: 33px;
      margin-bottom: 15px;
   }

   .label-img {
      position: absolute;
      bottom: calc(100% + 20px);
      left: 0;
   }
}
