@import 'vars';

// MAIN HOME
.main-characters {
   background-color: $main-gray;

   .container {
      > .row {
         padding-top: 75px;
      }
   }
   
   .comic-card {
      color: #fff;
      overflow-y: hidden;
      .title {
         height: 100px;
      }
      .description {
         // TODO migliorare
         max-height: 196px;
         font-weight: 600;
         overflow-y: hidden;
      }
   }

   .dc-button {
      background-color: $main-blue;

      color: #fff;
      text-align: center;
      font-weight: bold;

      padding: 10px 0;
      margin-top: 33px;
      margin-bottom: 15px;
   }

   .label {
      position: absolute;
      top: 0;
      transform: translateY(-50%);
      left: 0;

      background-color: $main-blue;

      padding: 10px 20px;
      h3{         
         color: #fff;
         text-align: center;
         font-weight: bold;
         margin: 0;
      }
   }
}
