@import '~bootstrap/scss/bootstrap';
@import 'generics';


// NAV
.upper-nav {
   height: 25px;
   background-color: $main-blue;
}

nav {

   .logo-nav {
      img {
      }
   }

   li {
      height: 100%;
      a {
         display: flex;
         align-items: center;

         height: 100%;
         color: $main-l-gray;
         font-weight: bold;
         margin: 0 15px;
         text-decoration: none;
         border-bottom: 3px solid #fff;
         &:hover{
            border-bottom: 3px solid $main-blue;
         }
      }
   }

   .search {
      border: 0;
      border-bottom: 3px solid $main-blue;
   }
}

// JUMBOTRON
.jumbotron {
   height: 450px;
   background-image: url(../images/jumbotron.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center top;
}

// MAIN
main {
   background-color: $main-gray;

   .container {
      > .row {
         padding: 75px 0;
      }
   }
   
   .comic-card {
      color: #fff;
      div {
         height: 180px;
         overflow: hidden;
      }
      p {
         font-size: 1.2rem;
         padding: 15px 0;
      }
   }
}