@import '~bootstrap/scss/bootstrap';
@import 'generics';


// NAV
.upper-nav {
   height: 25px;
   background-color: $main-blue;
}

nav {

   .logo-nav {
      img {
      }
   }

   li {
      height: 100%;
      a {
         display: flex;
         align-items: center;

         height: 100%;
         color: $main-l-gray;
         font-weight: bold;
         margin: 0 15px;
         text-decoration: none;
         border-bottom: 3px solid #fff;
         &:hover{
            border-bottom: 3px solid $main-blue;
         }
      }
   }

   .search {
      border: 0;
      border-bottom: 3px solid $main-blue;
   }
}

// JUMBOTRON
.jumbotron {
   height: 450px;
   background-image: url(../images/jumbotron.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center top;
}

// MAIN
main {
   background-color: $main-gray;

   .container {
      > .row {
         padding-top: 75px;
      }
   }
   
   .comic-card {
      color: #fff;
      div {
         height: 180px;
         overflow: hidden;
      }
      p {
         font-weight: 600;
         padding: 15px 0;
      }
   }

   .dc-button {
      background-color: $main-blue;

      color: #fff;
      text-align: center;
      font-weight: bold;

      padding: 10px 0;
      margin-top: 33px;
      margin-bottom: 15px;
   }

   .label {
      position: absolute;
      top: 0;
      transform: translateY(-50%);
      left: 0;

      background-color: $main-blue;

      padding: 10px 20px;
      h3{         
         color: #fff;
         text-align: center;
         font-weight: bold;
         margin: 0;
      }
   }
}

// SERVICES BAR
.services {
   background-color: $main-blue;

   img {
      height: 80px;
      max-width: 80px;
      margin-right: 10px;
   }
   p {
      margin: 0;
      color: #fff;
      font-weight: 600;
   }
}