.comics-index {
  background-color: #1c1c1c;
}
.comics-index .container > .row {
  padding-top: 75px;
}
.comics-index .comic-card a {
  text-decoration: none;
}
.comics-index .comic-card div {
  height: 180px;
  overflow: hidden;
}
.comics-index .comic-card p {
  color: #fff;
  font-weight: 600;
  padding: 15px 0;
}
.comics-index .dc-button {
  background-color: #0282f9;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
  margin-top: 33px;
  margin-bottom: 15px;
}
.comics-index .label {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  left: 0;
  background-color: #0282f9;
  padding: 10px 20px;
}
.comics-index .label h3 {
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin: 0;
}