.comics-show .comic-desc {
  position: relative;
  padding-top: 75px;
}
.comics-show .blue-bar {
  height: 90px;
  background-color: #0282f9;
}
.comics-show .pricing {
  background-color: #55ba59;
  display: flex;
  font-weight: 600;
}
.comics-show .pricing p {
  margin: 0;
}
.comics-show .pricing p span, .comics-show .pricing .availability {
  color: #fff;
}
.comics-show .pricing .pricing-details, .comics-show .pricing .availability {
  padding: 15px 20px;
}
.comics-show .pricing .pricing-details {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.comics-show .pricing .pricing-details > * {
  color: #b4fd9c;
}
.comics-show .pricing .availability {
  border-left: 1px solid black;
}
.comics-show .dc-button {
  background-color: #0282f9;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
  margin-top: 33px;
  margin-bottom: 15px;
}
.comics-show .label-img {
  position: absolute;
  bottom: calc(100% + 20px);
  left: 0;
  border: 1px solid #fff;
}
.comics-show .label-img p, .comics-show .label-img a {
  position: absolute;
  left: 0;
  color: #fff;
  background-color: #00a9d9;
  text-transform: uppercase;
  font-size: 14px;
}
.comics-show .label-img p {
  top: 0;
  margin: 0;
  padding: 0 9px;
}
.comics-show .label-img a {
  display: block;
  width: 100%;
  bottom: 0;
  text-align: center;
  text-decoration: none;
}