.comics-show .blue-bar {
  height: 90px;
  background-color: #0282f9;
}
.comics-show .comic-desc, .comics-show .adv {
  padding-top: 75px;
}
.comics-show .comic-desc {
  position: relative;
}
.comics-show .comic-desc .pricing {
  background-color: #55ba59;
  display: flex;
  font-weight: 600;
}
.comics-show .comic-desc .pricing p {
  margin: 0;
}
.comics-show .comic-desc .pricing p span, .comics-show .comic-desc .pricing .availability {
  color: #fff;
}
.comics-show .comic-desc .pricing .pricing-details, .comics-show .comic-desc .pricing .availability {
  padding: 10px 20px;
}
.comics-show .comic-desc .pricing .pricing-details {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
.comics-show .comic-desc .pricing .pricing-details > * {
  color: #b4fd9c;
}
.comics-show .comic-desc .pricing .availability {
  border-left: 1px solid black;
}
.comics-show .comic-desc .dc-button {
  background-color: #0282f9;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
  margin-top: 33px;
  margin-bottom: 15px;
}
.comics-show .comic-desc .label-img {
  position: absolute;
  bottom: calc(100% + 20px);
  left: 0;
  border: 1px solid #fff;
}
.comics-show .comic-desc .label-img p, .comics-show .comic-desc .label-img a {
  position: absolute;
  left: 0;
  color: #fff;
  background-color: #00a9d9;
  text-transform: uppercase;
  font-size: 14px;
}
.comics-show .comic-desc .label-img p {
  top: 0;
  margin: 0;
  padding: 0 9px;
}
.comics-show .comic-desc .label-img a {
  display: block;
  width: 100%;
  bottom: 0;
  text-align: center;
  text-decoration: none;
}
.comics-show .adv > div {
  text-align: end;
  position: relative;
}
.comics-show .adv > div p {
  position: absolute;
  bottom: 100%;
  right: 0;
  margin: 0;
  font-weight: 600;
  text-align: end;
}
.comics-show .bottom-desc {
  background-color: #f6f6f6;
  border-top: 1px solid #dfdfdf;
  padding-top: 20px;
  height: 300px;
}
.comics-show .bottom-desc .b-desc-section {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  padding: 5px 0;
}
.comics-show .bottom-desc .b-desc-section p, .comics-show .bottom-desc .b-desc-section a {
  font-size: 14px;
}
.comics-show .bottom-desc .b-desc-section p {
  margin: 0;
}
.comics-show .bottom-desc .b-desc-section a {
  text-decoration: none;
  color: #0282f9;
  font-weight: 600;
}
.comics-show .bottom-desc .b-desc-section > div:first-of-type {
  width: 25%;
  align-self: flex-start;
}
.comics-show .bottom-desc .b-desc-section > div:last-of-type {
  width: 75%;
  line-height: 80%;
}
.comics-show .bottom-desc .b-desc-section:first-of-type {
  border-top: 1px solid #dfdfdf;
}