.main-characters {
  background-color: #1c1c1c;
}
.main-characters .container > .row {
  padding-top: 75px;
}
.main-characters .comic-card {
  color: #fff;
  overflow-y: hidden;
}
.main-characters .comic-card .title {
  height: 100px;
}
.main-characters .comic-card .description {
  max-height: 196px;
  font-weight: 600;
  overflow-y: hidden;
}
.main-characters .dc-button {
  background-color: #0282f9;
  color: #fff;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
  margin-top: 33px;
  margin-bottom: 15px;
}
.main-characters .label {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  left: 0;
  background-color: #0282f9;
  padding: 10px 20px;
}
.main-characters .label h3 {
  color: #fff;
  text-align: center;
  font-weight: bold;
  margin: 0;
}